.img{
    border-radius: 50%;
    width: 10%;
   

}
.name{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    margin: auto;
    width: 50%;
    border: 1px solid green;
    text-align: center;
   
}